.wrap {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    border: none;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition: opacity 0.5s;
    z-index: -1;
    opacity: 0;
}

.wrap[data-state="active"] {
    z-index: 1;
    opacity: 100;
}

.wrap .icon {
    position: absolute;
    color: var(--color-blue-100);
    width: 20px !important;
    height: 20px !important;
}

.progress {
    top: 20px;
    left: 20px;
    transform: rotate(-90deg);
}

.wrap circle {
    stroke-dashoffset: 0;
    stroke-width: 7%;
    fill: none;
}

.progress .indicator {
    stroke: var(--color-blue-100);
}

.bg {
    stroke: var(--color-grey-violet-100);
    opacity: 0.3;
}
