.wrap {
    padding: 1.25rem;
    display: flex;
    min-height: 47.25rem;
    max-height: 47.25rem;
}

.inner {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.75rem;
    padding-top: 6rem;
}

.inner::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-grey-violet-900);
    isolation: isolate;
    z-index: -3;
}

.header {
    margin-bottom: 3rem;
}

.title,
.subtitle {
    text-align: center;
}

.title {
    margin-bottom: 1.5rem;
}

.subtitle {
    font-size: clamp(1.75rem, 0.2549rem + 3.1189vw, 2.75rem);
    line-height: 110%;
}

.noise {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    isolation: isolate;
    z-index: -1;
}

/* 
.decor-gradient {
    --decor-gradient-top-offset: 35%;
    position: absolute;
    width: 150%;
    top: 0;
    height: calc(100% + var(--decor-gradient-top-offset));
    background: repeating-conic-gradient(
        var(--color-grey-violet-900) 0%,
        var(--color-grey-violet-900) 13%,
        var(--color-blue-100) 25%,
        var(--color-grey-violet-900) 35%,
        var(--color-grey-violet-900) 50%
    );
    isolation: isolate;
    z-index: -2;
    mix-blend-mode: lighten;
    transform: rotate(-20deg);
} */

.decor-gradient {
    position: absolute;
    background: var(--gradient-primary);
    width: 1600px;
    height: 1600px;
    isolation: isolate;
    z-index: -2;
    mix-blend-mode: lighten;
    animation: gradient-idle 2s ease infinite;
}

.decor-gradient[data-position="bottom-left"] {
    transform: rotate(-25deg) translate(-50%, -50%) scaleY(0.75);
    top: 55%;
    left: 15%;
    animation: gradient-ambient-bottom-left 1s ease infinite;
}

.decor-gradient[data-position="top-right"] {
    transform: rotate(-25deg) translate(-50%, -50%) scaleY(0.75);
    top: -40%;
    left: 131%;
}

@media screen and (max-width: 1179px) {
    .decor-gradient[data-position="bottom-left"] {
        left: 6%;
    }

    .decor-gradient[data-position="top-right"] {
        left: 145%;
    }
}

@media screen and (max-width: 989px) {
    .decor-gradient[data-position="bottom-left"] {
        left: 2%;
    }

    .decor-gradient[data-position="top-right"] {
        left: 155%;
    }
}

@media screen and (max-width: 859px) {
    .decor-gradient[data-position="bottom-left"] {
        left: -2%;
    }

    .decor-gradient[data-position="top-right"] {
        left: 175%;
    }
}

@media screen and (max-width: 767px) {
    .wrap {
        min-height: 100svh;
        min-height: 100vh;
    }
}

@media screen and (max-width: 729px) {
    .decor-gradient[data-position="bottom-left"] {
        left: -8%;
    }

    .decor-gradient[data-position="top-right"] {
        left: 195%;
    }
}

@media screen and (max-width: 639px) {
    .decor-gradient[data-position="bottom-left"] {
        left: -16%;
    }

    .decor-gradient[data-position="top-right"] {
        left: 225%;
    }
}

@media screen and (max-width: 549px) {
    .decor-gradient[data-position="bottom-left"] {
        left: -46%;
    }

    .decor-gradient[data-position="top-right"] {
        left: 255%;
    }
}

@media screen and (max-width: 479px) {
    .wrap {
        padding-bottom: 0.5rem;
        margin-bottom: 0.75rem !important;
    }

    .inner {
        padding-top: 2.75rem;
        padding-inline: 1rem;
    }

    .header {
        margin-bottom: 2rem;
    }

    .title {
        padding-inline: 1rem;
        margin-bottom: 1rem;
    }

    .decor-gradient[data-position="bottom-left"] {
        transform: rotate(-36deg) translate(-50%, -50%) scaleY(0.95);
        left: -45%;
        top: 43%;
    }

    .decor-gradient[data-position="top-right"] {
        left: 305%;
        transform: rotate(-37deg) translate(-50%, -50%) scaleY(0.85);
        top: -102%;
    }
}
