.wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 4.6875rem;
}

.wrap[data-view="reverse"] {
    flex-direction: row-reverse;
}

.title-wrap,
.content-wrap {
    flex: 0 1 28.375rem;
    width: 100%;
    max-width: 28.375rem;
}

.title {
    margin-bottom: 1rem;
    line-height: 120%;
}

.subtitle {
    color: var(--color-gray-alpha-50);
}

@media screen and (max-width: 982px) {
    .wrap[data-view] {
        flex-direction: column;
        gap: 2rem;
    }

    .title-wrap,
    .content-wrap {
        flex: 1 1 100%;
        max-width: revert;
    }
}

@media screen and (max-width: 767px) {
    .title {
        line-height: 111%;
    }
}
