.wrap {
    --container-width: 80rem;

    width: 100%;
    max-width: var(--container-width);
    margin: 0 auto;
    padding-inline: 1.25rem;
}

.wrap.sm {
    --container-width: 70rem;
}

@media screen and (max-width: 767px) {
    .wrap {
        padding-inline: 1rem;
    }
}
