.wrap {
    display: flex;
    gap: 3.5625rem;
    padding-block: 6.25rem;
    padding-top: 6.1875rem;
}

.left,
.right {
    flex: 1 1 30.9375rem;
    max-width: 30.9375rem;
}

.left {
    padding-right: 1.5rem;
}

.right {
    flex-basis: 25.5rem;
    max-width: 25.5rem;
    display: flex;
    flex-direction: column;
    gap: 6.375rem;
}

.title {
    width: 90%;
    position: sticky;
    top: 50%;
    margin-bottom: 4.5rem;
}

@media screen and (max-width: 767px) {
    .wrap {
        flex-direction: column;
        padding-block: 3.75rem;
        gap: 2rem;
    }

    .left,
    .right {
        flex: 1;
    }

    .right {
        gap: 5rem;
    }

    .title {
        margin-bottom: 0;
    }
}
