.wrap {
    display: flex;
    flex-direction: column;
}

.inner {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.25rem;
    padding-block: 8.625rem;
    overflow: hidden;
}

.inner::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-grey-violet-900);
    isolation: isolate;
    z-index: -3;
}

.content-wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 34.375rem;
}

.header {
    margin-bottom: 2.5rem;
}

.title,
.subtitle {
    text-align: center;
}

.title {
    font-size: clamp(1.75rem, 0.2549rem + 3.1189vw, 2.75rem);
    margin-bottom: 1rem;
}

.subtitle {
    color: var(--color-gray-alpha-50);
}

.form {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
    max-width: 26.5625rem;
    margin: 0 auto;
}

.input {
    flex: 1;
}

.cta {
    flex-grow: 0;
}

.noise {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    isolation: isolate;
    z-index: -1;
}

.decor-gradient {
    position: absolute;
    background: var(--gradient-primary);
    width: 1600px;
    height: 1600px;
    isolation: isolate;
    z-index: -2;
    mix-blend-mode: lighten;
    animation: gradient-idle 2s ease infinite;
}

.decor-gradient[data-position="bottom-left"] {
    transform: rotate(-16deg) translate(-50%, -50%) scaleY(0.75);
    top: 76%;
    left: 15%;
}

.decor-gradient[data-position="top-right"] {
    transform: rotate(-9deg) translate(-50%, -50%) scaleY(0.75);
    top: -51%;
    left: 131%;
}

@media screen and (max-width: 767px) {
    .wrap {
        margin-top: 1.25rem;
    }

    .inner {
        padding-block: 4.3125rem;
    }

    .title {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 1rem;
    }

    .form {
        gap: 0.5rem;
    }
}

@media screen and (max-width: 919px) {
    .decor-gradient[data-position="bottom-left"] {
        left: 3%;
    }

    .decor-gradient[data-position="top-right"] {
        left: 151%;
    }
}

@media screen and (max-width: 767px) {
    .decor-gradient[data-position="bottom-left"] {
        left: -13%;
    }

    .decor-gradient[data-position="top-right"] {
        left: 191%;
    }
}

@media screen and (max-width: 589px) {
    .decor-gradient[data-position="bottom-left"] {
        left: -23%;
    }

    .decor-gradient[data-position="top-right"] {
        left: 211%;
    }
}

@media screen and (max-width: 399px) {
    .decor-gradient[data-position="bottom-left"] {
        left: -65%;
    }

    .decor-gradient[data-position="top-right"] {
        left: 276%;
        top: -64%;
    }
}
