.wrap {
    display: flex;
    flex-direction: column;
}

.inner {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-grey-violet-800);
    border-radius: 1.25rem;
    padding-block: 8.625rem;
}

.content-wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 33.75rem;
}

.header {
    margin-bottom: 2.5rem;
}

.title,
.subtitle {
    text-align: center;
}

.title {
    font-size: clamp(1.75rem, 0.2549rem + 3.1189vw, 2.75rem);
    margin-bottom: 1rem;
}

.subtitle {
    color: var(--color-gray-alpha-50);
}

.form {
    display: flex;
    gap: 1rem;
    width: 100%;
    max-width: 26.5625rem;
    margin: 0 auto;
}

.input {
    flex: 1;
}

@media screen and (max-width: 767px) {
    .wrap {
        margin-top: 1.25rem;
    }

    .inner {
        padding-block: 4.3125rem;
    }

    .title {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 1rem;
    }

    .form {
        gap: 0.5rem;
    }
}
