.wrap {
    position: relative;
    height: 16.4375rem;
    width: 100%;
    padding: 1.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.25rem;
    background-color: var(--color-grey-violet-900);
    border: 1px solid var(--color-grey-violet-700);
    overflow: hidden;
}

.content-wrap {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1;
}

.center {
    position: relative;
    z-index: 5;
}

.center .decor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 1px));
}

.element {
    position: absolute;
    width: 3.75rem;
    height: 3.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(5deg, rgba(12, 2, 33, 0) -11.67%, #0c0221 92.95%);
    border: 1px solid var(--color-grey-violet-700);
    flex-shrink: 0;
}

.element .icon {
    opacity: 0.72;
}

.element.top-left {
    top: 0.35rem;
    left: 0;
}

.element.top-right {
    top: 0.35rem;
    right: -0.25rem;
}

.element.bottom-left {
    bottom: -0.25rem;
    left: 0;
}

.element.bottom-right {
    bottom: -0.25rem;
    right: -0.25rem;
}

.gradient-decor-wrap {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.gradient-decor-wrap .decor.ameba {
    height: 100%;
}

.gradient-decor-wrap .decor.circle {
    width: 4.375rem;
    height: 4.375rem;
    position: absolute;
    background: var(--gradient-blurred-circle);
    filter: blur(15.85px);
    top: 21%;
    left: 57%;
}
