.wrap {
    padding-block: 6.3125rem;
}

.header {
    margin-bottom: 2rem;
}

.members {
    display: flex;
    gap: 1.5rem;
}

.member {
    flex: 1 1 50%;
}

@media screen and (max-width: 767px) {
    .wrap {
        padding-block: 3.75rem;
    }

    .members {
        flex-direction: column;
    }
}
