.wrap {
    position: fixed;
    top: 0;
    padding-block: 1.8125rem;
    padding-top: 3.25rem;
    z-index: 20;
    width: 100%;
    transition:
        padding 0.2s,
        background-color 0.2s;
}

.wrap[data-state="filled"] {
    padding-block: 1.25rem;
    background-color: var(--color-grey-violet-900);
}

.wrap .container {
    --container-width: 76rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-wrap {
    width: 8.9375rem;
    height: 1.875rem;
    border-radius: 0.25rem;
    transition: box-shadow 0.2s;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 2rem;
}

@media screen and (max-width: 1255px) {
    .wrap {
        padding-inline: 1rem;
    }
}

@media screen and (max-width: 767px) {
    .wrap {
        padding-top: 2.75rem;
    }
}
